<template name="register">
	<div class="container">
		<div id="register-box" class="register-box">
            <div class="register-form row">
                <div class="col-sm-12 text-center register-header">
                    <img src="img/logo/logo-01.svg" />
                </div>
                <div class="col-sm-12 register-form">
                    <form id="register-form">
                        <div class="control">
                            <input type="text" name="registerFirstName" id="register-first-name" class="register-first-name" placeholder="Prénom"/>
                        </div>
                        <div class="control">
                            <input type="text" name="registerLastName" id="register-last-name" class="register-last-name" placeholder="Nom" />
                        </div>
                        <div>
                            <input type="email" name="registerEmail" id="register-email" class="register-email" placeholder="Email" />
                        </div>
                        <div class="control">
                            <input type="text" name="registerUsername" id="register-username" class="register-username" placeholder="Identifiant" />
                        </div>
                        <div class="control">
                            <input type="password" name="registerPassword" id="register-password" class="register-password" placeholder="Mot de passe" />
                        </div>
                        <div class="control">
                            <input type="password" name="registerRepeatPassword" id="register-repeat-password" class="register-repeat-password" placeholder="Répétez le mot de passe" />
                        </div>
                        <div class="register-button text-center">
                            <input type="submit" class="btn btn-primary" value="Nouveau compte"/>
                        </div>
                    </form>
                </div>
            </div>
		</div>
    </div>
</template>
