<template name="home">
<head>
  <title>citizenwatt</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

    <div class="container-fluid">
        <div>
            <a class="btn btn-default" id="add-new-widget" href="#">Add Widget</a>
        </div>

        <br/>

        <div class="grid-stack">
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            var options = {
                float: true
            };
            $('.grid-stack').gridstack(options);

            new function () {
                this.items = [
                    {x: 0, y: 0, width: 2, height: 2},
                    {x: 3, y: 1, width: 1, height: 2},
                    {x: 4, y: 1, width: 1, height: 1},
                    {x: 2, y: 3, width: 3, height: 1},
//                    {x: 1, y: 4, width: 1, height: 1},
//                    {x: 1, y: 3, width: 1, height: 1},
//                    {x: 2, y: 4, width: 1, height: 1},
                    {x: 2, y: 5, width: 1, height: 1}
                ];

                this.grid = $('.grid-stack').data('gridstack');

                this.add_new_widget = function () {
                    var node = this.items.pop() || {
                                x: 12 * Math.random(),
                                y: 5 * Math.random(),
                                width: 1 + 3 * Math.random(),
                                height: 1 + 3 * Math.random()
                            };
                    this.grid.add_widget($('<div><div class="grid-stack-item-content" /><div/>'),
                        node.x, node.y, node.width, node.height);
                }.bind(this);

                $('#add-new-widget').click(this.add_new_widget);
            };
        });
    </script>


</body>
</template>
