<template name="login">
	<div class="container">
		<div id="login-box" class="login-box">
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <img src="img/logo/logo-01.svg" />
                </div>
                <div class="{{loginBoxOpen}}">
                    <div class="col-sm-12 login-form">
                        <form id="login-form">
                            <div class="control">
                                <input type="text" name="loginUsername" id="login-username" class="login-username" placeholder="Identifiant ou email" />
                            </div>
                            <div class="control">
                                <input type="password" name="loginPassword" id="login-password" class="login-password" placeholder="Mot de passe" />
                            </div>
                            <div class="login-button text-center">
                                <input type="submit" class="btn btn-primary" value="Entrer"/>
                            </div>
                        </form>
                        <button type="button" class="login-recover btn btn-link">Mot de passe oublié ?</button>
                    </div>
                </div>
                <div class="login-switch {{loginBoxOpenRecovery}}">
                    <div class="col-sm-12 login-form">
                        {{> forgot}}
                     </div>
                </div>
            </div>
		</div>
    </div>
</template>

<template name="forgot">
           <form id="login-form-recovery">
                <div class="control">
                    <input type="text" name="username" id="login-username" class="login-username" placeholder="Identifiant" />
                </div>
                <div class="control">
                    <input type="email" name="password" id="login-email" class="login-email" placeholder="Email" />
                </div>
                <div class="login-button text-center">
                    <input type="submit" class="btn btn-primary" value="Envoyer"/>
                </div>
            </form>
            <button type="button" class="login-return btn btn-link">Revenir au login</button>
</template>
