<template name="dashboardPane">
    <div class="container-fluid">
        <div class="side-body padding-top">
            <div class="cf-container cf-nav-active">
                <div class="grid-stack" data-gs-width="50">
                    <!--<iframe src="http://transforumers.com:3000/dashboard-solo/db/citizenwatt-dev-s1srv1?panelId=1&fullscreen&from=1454398541398&to=1454420141398" style="width:100%;height:40%" frameborder="0"></iframe> -->
                    <div class="grid-stack-item"
                         data-gs-x="28" data-gs-y="0"
                         data-gs-width="11" data-gs-height="3" data-gs-no-resize>

                        {{>clock}}

                   </div>

                    <div class="grid-stack-item"
                         data-gs-x="39" data-gs-y="0"
                         data-gs-width="11" data-gs-height="3" data-gs-no-resize>

                        {{>gauge}}

                   </div>
                </div>
            </div>
        </div>
    </div>
</template>