<template name="clock">
    <div class="cf-item grid-stack-item-content card dark">
        <div class="inner">
        <header>
            <p><span></span>Horloge</p>
        </header>
            <div class="content">

                <div class="cf-td">
                    <!-- <div class="cf-td cf-td-12">-->
                    <div class="cf-td-time metric">12:00</div>
                    <div class="cf-td-dd">
                        <p class="cf-td-day metric-small">Monday</p>
                        <p class="cf-td-date metric-small">1st October, 2013</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="gauge">
    <div class="cf-item grid-stack-item-content card dark">
        <div class="inner">
        <header>
            <p><span></span>Gauge</p>
        </header>
            <div class="content cf-gauge" id="cf-gauge-1">
                <div class="val-current">
                    <div class="metric" id="cf-gauge-1-m">0</div>
                </div>
                <div class="canvas">
                    <canvas id="cf-gauge-1-g"></canvas>
                </div>
                <div class="val-min">
                    <div class="metric-small">0</div>
                </div>
                <div class="val-max">
                    <div class="metric-small">0</div>
                </div>
            </div>
        </div> <!-- //end inner -->
    </div>
</template>
