$color-white: #FFF;
$color-light-grey-1: #FDFDFD;
$color-light-grey: #F9F9F9;
$color-lighter-grey: #F0F0F0;
$color-grey: #EAEAEA;
$color-grey-level1: #E4E4E4;
$color-grey-level2: #DDD;
$color-grey-level3: #CCC;
$color-dark-grey: #2f2f30;


$color-clearer-dark-blue: #9eaabd;
$color-clear-dark-blue: #73849d;
$color-dark-blue: #353d47;
$color-dark-blue-1: #22A7F0;
$color-dark-blue-hover: #363c46;

$color-dark-black: #232323;

$color-clear-red: #ffb8aa;
$color-lightest-red: #fb927d;
$color-light-red: #19B5FE;
$color-red: #FA2A00;
$color-darkest-red: #7c1a06;

$color-light-green: #88F159;

$color-clear-yellow: #ffe5a2;
$color-yellow: #FABE28;
$color-dark-yellow: #ffb400;
$color-darkest-yellow: #85630f;

$color-bgreen: #88C100;

$color-clear-green-sea: #99e9d9;
$color-green-sea: #1ABC9C;
$color-dark-green-sea: #16A085;
$color-darkest-green-sea: #006551;

$color-clear-blue: #91d5fb;
$color-blue: #22A7F0;
$color-darkest-blue: #09486b;

$color-light-gblue: #00B9BD;
$color-gblue: #007E80;
$color-dark-gblue: #004853;

$theme-menu-bg-color: #D4D4D4;
$theme-success-color: #00B16A;
$color-blue: #22A7F0;
$theme-danger-color: $color-red;