
// Circular "+" button

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-br {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

// Navbar

.navbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;

  & > .container, & > .container-fluid {
    z-index: 10001;
    .navbar-brand {
      height: 60px;
      line-height: 60px;
      margin-left: 0px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      padding: 0;
      font-size: 1.5em;

      .fa-angle-right {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .navbar-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      float: left;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      opacity: 0.75;
    }

    .navbar-expand-toggle .icon {
      font-size: 1.4em;
    }


    .navbar-right-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      // float: left;
      position: absolute;
      right: 0;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      opacity: 0.75;
    }

    .navbar-right-expand-toggle .icon {
      font-size: 1.4em;
    }
  }

  .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left;

    & > li {
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em;

    }
  }

  .navbar-nav {
    & > li {
      & > a {
        font-family: 'Roboto Condensed', sans-serif;
        height: 60px;
        line-height: 60px;
        padding: 0px 20px 0px 20px;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;

    z-index: -1;
    position: absolute;

    .title {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px 10px;

      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    }

    .message {
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      padding: 10px 20px;
    }

    .notifications.list-group {
      list-style: none;
      padding: 0;
      margin: 0;

      .list-group-item {
        min-width: 250px;
        padding: 8px;
        border: 0;
        border-bottom: 1px solid #EEE;

        .icon {
          margin-right: 5px;
        }
      }

      .badge {
        border-radius: 1em;
      }

      .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }

      a.list-group-item:hover {
        cursor: pointer;
      }
    }
  }
  .dropdown.profile {
    .dropdown-menu {
      width: 305px;
      padding-bottom: 0px;
      text-align: center;

      li.profile-img {
        padding: 0px;
        max-height: 300px;
        overflow: hidden;

        img.profile-img {
          width: 100%;
          height: auto;
          margin: 0px;
          border: 0;
        }
      }
      .profile-info {
        font-family: 'Roboto Condensed', sans-serif;
        padding: 15px;

        .username {
          font-size: 1.8em;
        }
      }
    }
  }
}

// Side Menu Lib

.app-container {
  position:fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  background: url(/img/bg/07.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;

  .app-footer {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 65px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;

    .wrapper {
      padding: 10px 35px;
      padding-left: 25px;
      height: 50px;
      line-height: 50px;
      vertical-align: middle;
    }
  }
  .content-container {

    margin-right: 0;
    margin-left: 0;

    .content-icon {
      background: url(/img/logo/citizenwatt-logo.svg);
      -webkit-background-size: 100% 65%;
      background-size: 100% 65%;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100%;
    }

    .side-menu {
      overflow-y: auto;
      z-index: 100000;
      position: fixed;
      width: 60px;
      height: 100%;
      -webkit-transition: all 0.25s;
      transition: all 0.25s;

      .navbar-header {
        width: 100%;
        border-bottom: 0px solid #e7e7e7;

        .navbar-brand {
          width: 455px;
          line-height: 60px;
          height: 60px;
          padding: 0;
          width: 100%;
          overflow: hidden;
          font-family: 'Roboto Condensed', sans-serif;

          .icon {
            width: 60px;
            text-align: center;
            display: inline-block;
          }

          .title {
            margin-left: -10px;
            display: none;
          }
        }
        .navbar-expand-toggle {
          position: absolute;
          right: 0;
          width: 60px;
          height: 60px;
          background-color: transparent;
          border: 0px;
          -moz-transition: all 0.25s linear;
          -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;

          opacity: 0.75;
        }
      }

      .navbar {
        border: none;
        padding-left: 0px;
      }

      .navbar-nav {
        li {
          display: block;
          width: 100%;
          overflow: hidden;

          a {
            font-family: 'Roboto Condensed', sans-serif;
            padding: 0 10px 0 10px;
            height: 46px;
            line-height: 46px;
            display: block;
            white-space: nowrap;

            .icon {
              margin-left: 0px;
              width: 38px;
              text-align: center;
              font-size: 1.1em;
              display: inline-block;
            }

            .title {
              width: 0px;
              white-space: nowrap;
              padding-left: 6px;
              display: none;
            }
          }
        }

        li.dropdown {
          border:0;
          margin-bottom: 0;
          border-radius: 0;

          box-shadow: none;
          ul {
            li {
              a {
                height: 44px;
                line-height: 44px;
                vertical-align: middle;
                padding: 0em 1.2em;
              }
            }
          }

          & > a:after {
            content: "";
            position: absolute;
            right: 1em;

          }
        }

        .panel-collapse.in {
          display: none;
        }
      }
    }

    .side-menu:hover {
      width: 250px;
      .navbar-header {
        .navbar-brand {

          .title {
            display: inline-block;
          }

          .content-icon {
            background: url(/img/logo/logo-01.svg);
            -webkit-background-size: 95%;
            background-size: 95%;
            background-position: center center;
            background-repeat: no-repeat;
            height: 100%;
          }
        }
      }


      .navbar-nav {
        li {
          a {
            .title {
              width: 192px;
              display: inline-block;
            }
          }
        }
        li.dropdown {
          & > a:after {
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            right: 1em;
          }
        }
      }
      .panel-collapse.in {
        display: block;
      }
    }

    .side-body {
      padding-top: 70px;
    }

    .side-body.padding-top {
      padding-top: 84px;
    }
  }
}

.app-container.expanded {
  .app-footer {
    left: 250px;
    .wrapper {
      padding-left: 25px;
    }
  }

  .content-icon {
    background: url(/img/logo/logo-01.svg);
    -webkit-background-size: 95%;
    background-size: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
  }

  .content-container {

    .navbar-top {
      padding-left: 250px;
    }
    .side-menu {
      width: 250px;

      .navbar-header {
        .navbar-brand {

          .title {
            display: inline-block;
          }
        }
      }

      .navbar-nav {
        li {
          a {
            .title {
              display: inline-block;
            }
          }

          .panel-collapse.in {
            display: block;
          }
        }
        li.dropdown {
          & > a:after {
            font-family: FontAwesome;
            content: "\f107";
            position: absolute;
            right: 1em;
          }
        }
      }
    }
  }
}

// Main body section

.app-container .side-body {
  margin-left: 75px;
  margin-right: 15px;

  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.app-container.expanded .side-body {
  margin-left: 260px;
}

// small screen

@media (max-width: 768px) {
  .navbar {
    padding-left: 0;
    .navbar-header {
      width: auto;
      display: block;
    }
    .navbar-nav {
      width: auto;
      margin: 0;
      & > li {
        display: inline-block;
      }
    }
    .navbar-right {
      position: absolute;
      top: 0;
      right: -100%;
      height: 100%;
      width: 100%;

      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;

      .open {
        .dropdown-menu {
          position: absolute;
        }
      }
    }
    .navbar-right.expanded {
      right: 0;
    }
  }
  .app-container {
    .navbar-top {
      min-width: 300px;
    }
    .content-container {
      .side-menu {
        margin-left: -250px;
        width: 0px;
      }
      .side-body {
        margin-left: 10px;
      }
    }
  }
  .app-container.expanded {
    .navbar-top {
      min-width: 480px;
      padding-left: 0px;
    }
    .side-menu {
      margin-left: 0px;
      width: 250px;
    }
    .side-body {
      margin-left: 10px;
    }
  }
  .app-container, .app-container.expanded {
    .app-footer {
      .wrapper {
        padding-left: 25px;
      }
    }
  }
}

.dashboard-designer {
}