@import "colours";

body.login-page {
  background: url(img/bg/Blur-5.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-color: #22A7F0;

  .login-box {
    background-color: rgba(228, 228, 228, 0.3);
    width: 100%;
    max-width: 320px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    & > .title {
      margin-bottom: 1em;
    }

    & > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .login-email {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    z-index: 100;
  }

  .login-email:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .login-username {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .login-username:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .login-password {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .login-password:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  #login-username {
    background-image: url(img/login/name.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #login-password {
    background-image: url(img/login/password.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #login-email {
    background-image: url(img/login/email.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  .login-form {
    padding: 0em;

    .login-header {
      margin-bottom: 1.2em;
      font-size: 1.5em;
    }

    .login-body {
      padding: 1.5em;
      border-radius: 1px;
    }

    input {
      //margin-bottom: 0.8em;
      //margin-top: 0.5em;
      //padding: 1.2em 1em;
      font-size: 1.1em;
      border-radius: 1px;
    }
  }

  .login-button {
    .btn {
      padding: 0.5em 2em;
      font-size: 1.1em;
      border-radius: 1px;
      margin-bottom: 0;
    }

    .login-recover .login-return {
      width: 100%;
    }
  }

  .login-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .login-switch {
    position: absolute;
    transform: translate(0, 33%);
    width: 100%;
    padding-right: 20px;
  }

  .login-open {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .blur {
    -webkit-animation: blur .5s forwards;
    -moz-animation: blur .5s forwards;
    -o-animation: blur .5s forwards;
    animation: blur .5s forwards;
  }

  .blurInv {
    -webkit-animation: blurInv .5s forwards;
    -moz-animation: blurInv .5s forwards;
    -o-animation: blurInv .5s forwards;
    animation: blurInv .5s forwards;

  }

  @-webkit-keyframes blur {
    0%  { -webkit-filter: blur(0px);  opacity: 1; visibility: visible;}
    100% { -webkit-filter: blur(10px); opacity: 0; visibility: hidden;}
  }

  @-webkit-keyframes blurInv {
    0%  { -webkit-filter: blur(10px);  opacity: 0; visibility: hidden;}
    100% { -webkit-filter: blur(0px); opacity: 1; visibility: visible;}
  }

  @-moz-keyframes blur {
    0%  { -webkit-filter: blur(0px);  opacity: 1; visibility: visible;}
    100% { -webkit-filter: blur(10px); opacity: 0; visibility: hidden;}
  }

  @-moz-keyframes blurInv {
    0%  { -webkit-filter: blur(10px);  opacity: 0; visibility: hidden;}
    100% { -webkit-filter: blur(0px); opacity: 1; visibility: visible;}
  }

  @-o-keyframes blur {
    0%  { -webkit-filter: blur(0px);  opacity: 1; visibility: visible;}
    100% { -webkit-filter: blur(10px); opacity: 0; visibility: hidden;}
  }

  @-o-keyframes blurInv {
    0%  { -webkit-filter: blur(10px);  opacity: 0; visibility: hidden;}
    100% { -webkit-filter: blur(0px); opacity: 1; visibility: visible;}
  }

  @keyframes blur {
    0%  { -webkit-filter: blur(0px);  opacity: 1; visibility: visible;}
    100% { -webkit-filter: blur(10px); opacity: 0; visibility: hidden;}
  }

  @keyframes blurInv {
    0%  { -webkit-filter: blur(10px);  opacity: 0; visibility: hidden;}
    100% { -webkit-filter: blur(0px); opacity: 1; visibility: visible;}
  }

}


@media (max-width: 768px) {

  body.login-page {
    .login-form {
      .login-header {
        margin-bottom: 1em;
      }
    }
    .login-box {
      width: 100%;
      max-width: 260px;
    }
  }
}

.login-box {
  .login-form {
    .login-header {
      color: $color-white;
    }
    .login-body {
      //background-color: $color-white;
    }
  }

  input {
    background-color: $color-light-grey;
    border: 1px solid $color-light-grey;
  }

  .login-footer {
    a {
      color: $color-white;
    }
    a:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }
}


