@import "colours";
@import url(https://fonts.googleapis.com/css?family=Roboto:900italic);

body.register-page {
  background: url(img/bg/Blur-5.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-color: #22A7F0;

  .register-box {
    background-color: rgba(228, 228, 228, 0.3);
    width: 100%;
    max-width: 320px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    & > .title {
      margin-bottom: 1em;
    }

    & > .row {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .register-first-name {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    z-index: 100;
  }

  .register-first-name:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .register-last-name {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    z-index: 100;
  }

  .register-last-name:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .register-email {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
    z-index: 100;
  }

  .register-email:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .register-username {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .register-username:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .register-password {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .register-password:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  .register-repeat-password {
    background: transparent;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .register-repeat-password:focus{
    background: transparent;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  #register-first-name {
    background-image: url(img/register/fname.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #register-last-name {
    background-image: url(img/register/lname.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #register-username {
    background-image: url(img/register/name.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #register-password {
    background-image: url(img/register/password.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #register-repeat-password {
    background-image: url(img/register/password.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  #register-email {
    background-image: url(img/register/email.svg);
    -webkit-background-size: 30px;
    background-size: 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
  }

  .register-form {
    padding: 0em;

    .register-header {
      margin-bottom: 1.2em;
      font-size: 1.5em;
    }

    .register-body {
      padding: 1.5em;
      border-radius: 1px;
    }

    input {
      font-size: 1.1em;
      border-radius: 1px;
    }
  }

  .register-button {
    .btn {
      padding: 0.5em 2em;
      font-size: 1.1em;
      border-radius: 1px;
      margin-bottom: 0;
    }

    .register-recover .register-return {
      width: 100%;
    }
  }

  .register-footer {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  #main form .arrow{
    background: url("../img/arrow.png") no-repeat -10px 0;
    height: 120px;
    left: 214px;
    position: absolute;
    top: 392px;
    width: 11px;

    /* Defining a smooth CSS3 animation for turning the arrow */

    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
    -ms-transition:0.3s;
    transition:0.3s;

    /* Putting the arrow in its initial position */

    -moz-transform: rotate(-134deg);
    -webkit-transform: rotate(-134deg);
    -o-transform: rotate(-134deg);
    -ms-transform: rotate(-134deg);
    transform: rotate(-134deg);
  }

  /* The small piece that goes over the arrow */
  #main form .arrowCap{
    background: url("../img/arrow.png") no-repeat -43px 0;
    height: 20px;
    left: 208px;
    position: absolute;
    top: 443px;
    width: 20px;
    z-index: 10;
  }

}


@media (max-width: 768px) {

  body.register-page {
    .register-form {
      .register-header {
        margin-bottom: 1em;
      }
    }
    .register-box {
      width: 100%;
      max-width: 260px;
    }
  }
}

.register-box {
  .register-form {
    .register-header {
      color: $color-white;
    }
    .register-body {
    }
  }

  input {
    background-color: $color-light-grey;
    border: 1px solid $color-light-grey;
  }

  .register-footer {
    a {
      color: $color-white;
    }
    a:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }
}


